.container {
    display: flex;
    width: 90vw;
    height: 16vh;
    margin: 2px;
}

.textContainer {
    background-color: rgba(130, 86, 5, 0.5);
    width: 75%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.description {
    position: relative;
    font-size: 14px;
    top: -38px;

}

.counterContainer {
    background-color: rgba(165, 141, 137, 0.5);
    margin: 2px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.spanContainer {
    font-size: xx-large;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}