.container {
    display: flex;
    width: 90vw;
    height: 16vh;
    margin: 2px;
}

.textContainer {
    background-color: rgba(130, 86, 5, 0.5);
    width: 75%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.description {
    position: relative;
    font-size: 14px;
    top: -38px;

}

.counterContainer {
    background-color: rgba(165, 141, 137, 0.5);
    margin: 2px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.spanContainer {
    font-size: xx-large;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttonSum {
    font-family: inherit;
    font-size: 15px;
    color: white;
    background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.buttonRes {
    font-family: inherit;
    width: 20px;
    font-size: 15px;
    color: white;
    background: linear-gradient(0deg, rgb(167, 25, 20) 0%, rgb(247, 112, 102) 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}