.container {
    margin-top: -41px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 23vh;
    left: 30px;
    width: 90vw;
}

.buttonDay {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 10px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.buttonDay:hover,
.buttonDay:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.buttonDay:active {
    opacity: .5;
}

.buttonFinish {
    background: #052203;
    border: 1px solid #0a2e0a;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: rgb(109, 181, 91);
    cursor: pointer;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 10px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.buttonFinish:hover,
.buttonFinish:active {
    background-color: initial;
    background-position: 0 0;
    color: #162d0f;
}

.buttonFinish:active {
    opacity: .5;
}

.linkButton {
    text-decoration: none;
    color: inherit;
}

.linkButton:hover {
    text-decoration: none;
}